html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Comfortaa', cursive;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- VARIABLES ------------- */
:root{
    --apple: #D74452;
    --teal: #2D838D;
    --beige: #DAD3B7;
    --orange: #DB9F34;
    --darkorange: #DB8E36;
}

/* ------------- HERO IMAGE ------------- */
img {
    width:100%;
    height:auto;
}

.hero {
	position:relative;
	/* wasnt working because I had display:inline-block; */
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
	width:400px;
}

/* ----------- GLOBAL STYLES------------ */

body {
	line-height:1.5em;
}

h1, h2, #books h3, h4, p, nav, a {
	text-align:center;
	padding:10px;
}

h1, nav, a{
	color:teal;
	text-decoration:none;
}

h1 a:hover, nav a:hover {
	color: #D74452;
}

h3 {
	padding-bottom:10px;
}

h4 {
	color:var(--teal);
}

nav {
	padding-bottom:30px;
}

header li {
	display: inline-block;
}

dt {
	display:none;
}

dd {
	padding-bottom:5px;
}

footer {
	text-align:center;
	padding-top:2%;
	background-color:var(--orange);
}

footer h2 {
	padding-top:25px;
}

footer h2, footer p {
	text-align:left;
	padding-left:5%;
}

footer li a, footer h3 a{
	color:black;
}

footer li a:hover {
	color: #D74452;
}

footer section {
	padding:15px;
}

span {
	margin-top:30px;
}

/* ----------- ID STYLES------------ */

#books, #events, #newsLetter {
	padding-left:12%;
	padding-right:12%;
	padding-bottom:30px;
}

/* BOOKS */

#books img {
	display:block;
	padding-bottom: 15px;
	padding-top: 30px;
	width:100%;
	height:auto;
}

/* EVENTS */
#events {
	background-color:var(--beige);
}

#events section {
	padding-bottom:20px;
	padding-top:20px;
}

#events a {
	background-color:var(--teal);
	color: white;
	margin-top:10px;
	display:block;
	width:100px;
}

#events a:hover {
	background-color:var(--apple);
}

.line {
	border-bottom: 2px solid black;
	display:block;
}

/* NEWS LETTER FORM */
form{
	margin: 0 auto;
	color: #222;
	font-size: 1.1em;
}

input, label {
	display: block;
	width: 100%;
}

.required{
  display: inline-block;
  color: #DE0B63;
  font-size: 1.1em;
}

input{
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 2px solid var(--teal);
	height: 1.5em;
	font-family: 'Comfortaa', cursive;
	width:90%;
}

input[type=submit]{
	padding: 0.5em;
	height:auto;
	color: #fff;
	background-color: var(--teal);
	border: none;
	margin-top:2em;
	font-family: 'Comfortaa', cursive;
	width:93.5%;
}

input[type=submit]:hover{
	background-color:var(--apple);
}

input:focus {
	border-color: var(--teal);
	box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
	border-radius: 4px;
}

#newsLetter h2 {
	margin-top:20px;
}

/* FOOTER */

#secondNav {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#social-media {
	padding-top:25px;
}

#terms {
	background-color:white;
}

#terms a:hover, #secondNav a:hover {
	color:white;
}

/* ----------- ACCESABILITY ------------ */
.skip {
	visibility:hidden;
}

.skip:focus {
	visibility:visible;
	border:2px solid red;
}

.hide {
	display:none;
}

/* ---------- MEDIA QUERIES ----------- */
@media screen and (min-width:580px) {
	#books img {
		width:100%;
		height:700px;
	}
}

@media screen and (min-width:900px) {
	#books img {
		width:100%;
		height:auto;
	}
	
	.grid {
		display:grid;
		grid-template-columns: 1fr 1fr;
	}

	#books section {
		padding-left:20px;
		padding-right:20px;
	}

	#books {
		padding-bottom:20px;
	}

	.caption {
		font-size:large;
		width:550px;
	}

	form {
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}

	#email {
		grid-column:1/4;
	}

	#email input {
		width:93.5%;
	}

	input[type="submit"] {
		margin-top:0px;
		grid-column:2/4;
		width:93.5%;
	}

	footer {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	h2, p {
		grid-column: 1/2;
	}

	#social-media {
		grid-column:2/1;
		padding-bottom:40px;
	}

	#secondNav {
		grid-column:2/4;
		grid-row:1/4;
	}

	#terms {
		grid-column:1/4;
		background-color:white;
	}
}

@media screen and (min-width:1244px) {
	.hero p {
		padding-top:40px;
		line-height:30px;
	}
	
	.caption {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate( -50%, -50% );
		text-align: center;
		color: white;
		font-weight: bold;
		font-size:large;
		width:550px;
	}
}

@media screen and (min-width:1316px) {
	#books .grid {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	form {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
	}

	#newsLetter {
		padding-top:2%;
		padding-bottom:4%;
	}

	footer {
		display:grid;
		grid-template-columns: 1fr 220px 220px 1fr;
	}

	#email {
		grid-column:3/3;
	}

	input[type="submit"] {
		margin-top:0px;
		grid-column:3/4;
		width:100%;
	}

	#terms {
		grid-column:4/4;
		background-color:var(--orange);
		margin-bottom:30px;
	}
}

@media screen and (min-width:1459px) {
	.hero img {
		height:800px;
		width:100%;
	}
	
	.hero p {
		padding-top:40px;
		line-height:35px;
	}
	
	.caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		text-align: center;
		color: white;
		font-weight: bold;
		font-size:x-large;
		width:700px;
	}
}


/* when ready for grid 
#books{
	display: grid;
	grid-template-columns: 1fr;
}

flex box for books
and grid for events

tickets are links not button

except for second navigation in the footer

section of books display grid, 1fr 1fr. it will automatically put two next to eachother.
*/

