html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'Comfortaa', cursive;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- VARIABLES ------------- */
:root{
    --apple: #D74452;
    --teal: #2D838D;
    --beige: #DAD3B7;
    --orange: #DB9F34;
    --darkorange: #DB8E36;
}

/* ----------- GLOBAL STYLES------------ */

h1, h2, #books h3, h4, p, nav, a {
	text-align:center;
	padding:10px;
}

h1, nav, a{
	color:teal;
	text-decoration:none;
}

h1 a:hover, nav a:hover {
	color: #D74452;
}

h4 {
	color:var(--teal);
}

li {
	display: inline-block;
}

img {
	display:block;
}

.hero {
	position:relative;
	display: inline-block;
}

.hero img {
	width:100%;
	height:auto;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

#books, #events, #newsLetter, footer {
	padding:8%;
}

#books img {
	display:block;
	padding-bottom: 15px;
	padding-top: 30px;
	width:100%;
	height:auto;
}

#events {
	background-color:var(--beige);
}

#events section {
	padding-bottom:20px;
	padding-top:20px;
}

.hide {
	display:none;
}

/* Events */


/* News Letter Form */
form{
	display: block;
	width: 300px;
	padding: 1em;
	margin: 0 auto;
	color: #222;
	font-size: 1.1em;
}

input, label {
	display: block;
	width: 95%;
}

.required{
  display: inline-block;
  color: #DE0B63;
  font-size: 1.1em;
}

label{
	padding-left: 0.5em;
	margin: 0.75em 0 0.25em 0;
}

input{
	font-size: 1em;
	padding: 0.25em 0.5em;
	border: 1px solid #222;
	height: 1.5em;
	font-family: 'Comfortaa', cursive;
}

input[type=submit]{
	padding: 0.75em;
	height: auto;
	color: #fff;
	background-color: var(--teal);
	border: none;
	width:100%;
	margin-top:0.75em;
	font-family: 'Comfortaa', cursive;
}

input[type=submit]:hover{
	background-color:var(--darkorange);
}

input:focus {
	border-color: var(--teal);
	box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
	border-radius: 4px;
}

/* ----------- ACCESABILITY ------------ */
.skip {
	visibility:hidden;
}

.skip:focus {
	visibility:visible;
	border:2px solid red;
}

/* when ready for grid 
#books{
	display: grid;
	grid-template-columns: 1fr;
}

flex box for books
and grid for events

tickets are links not button

except for second navigation in the footer

section of books display grid, 1fr 1fr. it will automatically put two next to eachother.
*/

