/* ----------- ACCESABILITY ------------ */
.skip {
	visibility:hidden;
}

.skip:focus {
	visibility:visible;
	border:2px solid red;
}

/* ------------- VARIABLES ------------- */
:root{
    --apple: #D74452;
    --teal: #2D838D;
    --beige: #DAD3B7;
    --orange: #DB9F34;
    --darkorange: #DB8E36;
}

/* ------------- SECTIONS ------------- */

#books {
	background-color: orange;
}

#events {
	background-color: beige;
}

#newsLetter {
	background-color: teal;
}

#footer {
	background-color: darkorange;
}

